// Import global button styles
@import './styles/buttons';

:root {
    --primary-color: #6852D6
}

body {
    background-color: rgb(243, 235, 244);
    // font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    font-family: 'Alan Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}